<!DOCTYPE html>
<html lang="en">
<head>
  <title>PT PJB - PT Pembangkitan Jawa Bali</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body class="bg-secondary">
   
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" height="30px" width="auto" alt="PJB Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.calculation') }}">Calculation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
                </li> -->
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="padding-top: 50px;min-height: 78vh;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
        <!-- Copyright -->
        <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
        <a href="https://www.ptpjb.com/"> PT PJB - PT Pembangkitan Jawa Bali </a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="{{ url_for('static', filename='bootstrap/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/dist/tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/dist/popover.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% if js %}
    <script type="text/javascript">
        var CALC_URL = "{{ url_for('main.calc') }}"
        $('.toast').toast('show');
    </script>
    <script src={{ url_for('static', filename=''.join(('js/', js))) }}></script>
    {% endif %}
</body>
</html>
