{% extends "base.html" %}

{% block content %}
<div class="card border-warning">
    <div class="card-header text-white bg-warning">
      Calculation Form
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6" style="margin-bottom: 15px;">
                <form id="inputForm">
                    <div class="form-group">
                        <label for="elv_awal">Elevasi Awal</label>
                        <input type="text" class="form-control text-right" id="elv_awal" name="elv_awal" placeholder="Elevasi Awal">
                    </div>
                    <div class="form-group">
                        <label for="elv_akhir">Elevasi Akhir</label>
                        <input type="text" class="form-control text-right" id="elv_akhir" name="elv_akhir" placeholder="Elevasi Akhir">
                    </div>
                    <div class="form-group">
                        <label for="inf_selorejo">Inflow Selorejo</label>
                        <input type="text" class="form-control text-right" id="inf_selorejo" name="inf_selorejo" placeholder="Inflow Selorejo" value="8.78" readonly>
                    </div>
                    <div class="form-group">
                        <label for="supl">Suplesi</label>
                        <input type="text" class="form-control text-right" id="supl" name="supl" placeholder="Suplesi" value="0" readonly>
                    </div>
                    <div class="form-group">
                        <button type="button" id="calcBtn" class="btn btn-primary btn-block" data-url="{{ url_for('main.calc') }}">
                            <i class="fas fa-calculator"></i> Calculate
                        </button>
                    </div>
                </form>
                <div id="execInfo" class="alert alert-info" role="alert">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 border-left">
                <table id="resultTable" class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Variables</th>
                          <th scope="col" class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in output_table.items() %}
                        <tr>
                            <th scope="row">{{ key.replace('_', ' ').title().replace('Mw', 'MW') }}</th>
                            <td id="{{ key }}" class="text-right">{{value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}