{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Data 
      </div>
      <div class="card-body" style="overflow: auto;">
        <table id="table_id" class="table">
          <thead class="table table-striped table-bordered nowrap" style="width:100%">
            <tr>
              {% for col in column %}
                  {% set header_title = col.replace('_', ' ').title().replace('Mw', 'MW') %}
                  {% if col in  col_to_disp%}
                    {% set col_class = 'col-title' %}
                  {% else %}
                    {% set col_class = 'col-title none' %}
                  {% endif %}
                  <th class="{{ col_class }}" scope="col">{{ header_title }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}