{% extends "base.html" %}

{% block content %}
<div class="card border-warning">
    <div class="card-header text-white bg-warning">
      {{ data.title }}
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Input form -->
            <div class="col-3">
                <div class="card border-info">
                    <div class="card-body">
                        <form id="inputForm">
                            {% for input in data.inputs %}
                            <div class="form-group">
                                <label for="{{ input.name }}">{{ input.label }}</label>
                                <div class="input-group input-group-sm mb-3">
                                    {% if input.type == 'number' %}
                                        <input type="number" min="{{ input.min }}" max="{{ input.max }}" step="{{ input.step }}" class="form-control text-right" id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ input.label }}">
                                    {% else %}
                                        <input type="{{ input.type }}" class="form-control text-right" id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ input.label }}">
                                    {% endif %}
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{ input.unit | safe }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% if data.hidden_input_value != None %}
                            <input type="hidden" id="area" name="area" value="{{ data.hidden_input_value }}">
                            {% endif %}
                            <div class="form-group">
                                <button type="button" id="calcBtn" class="btn btn-primary btn-block" data-url="{{ data.data_url }}">
                                    <i class="fas fa-calculator"></i> Calculate
                                </button>
                            </div>
                        </form>
                        <div id="execInfo" class="alert alert-info" role="alert"></div>
                    </div>
                </div>
            </div>
            <!-- End of input form -->
            <!-- Image diagram -->
            <div class="col-9">
                {% for image in data.images %}
                <div class="row">
                    <div class="col-12">
                        <img src="{{ url_for('static', filename='images/'+image) }}" class="img-fluid float-center area-img sms-img" alt="SMS Diagram">
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End of image diagram -->
        </div>
        <!-- Calculation results -->
        <div class="row output-row">
            <div class="col-3">
                <table class="table table-striped table-sm result-table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Selorejo</th>
                          <th scope="col" class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set nrows = { 'n' : 7 } %}
                        {% for column in data.columns %}
                            {% if 'selorejo' in column.label.lower() or column.id == 'elevasi_awal' or column.id == 'elevasi_akhir' %}
                            {% if nrows.update({'n': nrows.n - 1}) %}{% endif %}
                            <tr>
                                <th scope="row">{{ column.label }}</th>
                                <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for i in range(nrows.n) %}
                        <tr>
                            <th scope="row">-</th>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <table class="table table-striped table-sm result-table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Mendalan</th>
                          <th scope="col" class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set nrows = { 'n' : 7 } %}
                        {% for column in data.columns %}
                            {% if 'mendalan' in column.label.lower() %}
                            {% if nrows.update({'n': nrows.n - 1}) %}{% endif %}
                            <tr>
                                <th scope="row">{{ column.label }}</th>
                                <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for i in range(nrows.n) %}
                        <tr>
                            <th scope="row">-</th>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <table class="table table-striped table-sm result-table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Siman</th>
                          <th scope="col" class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set nrows = { 'n' : 7 } %}
                        {% for column in data.columns %}
                            {% if 'siman' in column.label.lower() %}
                            {% if nrows.update({'n': nrows.n - 1}) %}{% endif %}
                            <tr>
                                <th scope="row">{{ column.label }}</th>
                                <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for i in range(nrows.n) %}
                        <tr>
                            <th scope="row">-</th>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <table class="table table-striped table-sm result-table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Cascade</th>
                          <th scope="col" class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set nrows = { 'n' : 7 } %}
                        {% for column in data.columns %}
                            {% if 'cascade' in column.label.lower() %}
                            {% if nrows.update({'n': nrows.n - 1}) %}{% endif %}
                            <tr>
                                <th scope="row">{{ column.label }}</th>
                                <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for i in range(nrows.n) %}
                        <tr>
                            <th scope="row">-</th>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End of calculation results -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dataTableModal" tabindex="-1" aria-labelledby="dataTableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dataTableModalLabel">Beban Wlingi Perjam</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table id="modalDataTable" class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">No.</th>
                      <th scope="col" class="text-center">Beban (MW)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- End of Modal -->
{% endblock %}