{% extends "base.html" %}

{% block content %}
<div class="card border-warning">
    <div class="card-header text-white bg-warning">
      {{ data.title }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="card border-info">
                    <div class="card-body">
                        <form id="inputForm">
                            {% for input in data.inputs %}
                            <div class="form-group">
                                <!-- <label for="{{ input.name }}">{{ input.label }}</label> -->
                                <div class="input-group input-group-sm mb-3">
                                    {% if input.name == 't1' or input.name == 't2' or input.name == 't3' %}
                                        {% for i in range(2) %}
                                            {% if i == 0 %}
                                                {% set placeholder = 'Start'+input.label %}
                                            {% else %}
                                                {% set placeholder = 'End'+input.label %}
                                            {% endif %}
                                        <input type="{{ input.type }}" class="form-control text-right" name="{{ input.name }}[]" placeholder="{{ placeholder | replace('Jam', '') }}">
                                        {% endfor %}
                                    {% else %}
                                        {% if input.type == 'number' %}
                                            <input type="number" min="{{ input.min }}" max="{{ input.max }}" step="{{ input.step }}" class="form-control text-right" id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ input.label }}">
                                        {% else %}
                                            <input type="{{ input.type }}" class="form-control text-right" id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ input.label }}">
                                        {% endif %}
                                    {% endif %}
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{ input.unit | safe }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% if data.hidden_input_value != None %}
                            <input type="hidden" id="area" name="area" value="{{ data.hidden_input_value }}">
                            {% endif %}
                            <div class="form-group">
                                <button type="button" id="calcBtn" class="btn btn-primary btn-block" data-url="{{ data.data_url }}">
                                    <i class="fas fa-calculator"></i> Calculate
                                </button>
                            </div>
                        </form>
                        <div id="execInfo" class="alert alert-info" role="alert"></div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% for image in data.images %}
                <div class="row">
                    <div class="col-12">
                        <img src="{{ url_for('static', filename='images/'+image) }}" class="img-fluid float-center area-img sutami-img" alt="SMS Diagram">
                    </div>
                </div>
                {% endfor %}
                <div class="row output-row">
                    <div class="col-6">
                        <table class="table table-striped table-sm result-table">
                            <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Sutami</th>
                                  <th scope="col" class="text-right">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for column in data.columns %}
                                {% if 'sutami' in column.label.lower() %}
                                <tr>
                                    <th scope="row">{{ column.label }}</th>
                                    <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped table-sm result-table">
                                    <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Wlingi</th>
                                          <th scope="col" class="text-right">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for column in data.columns %}
                                        {% if 'wlingi' in column.label.lower() or column.id == 'jam_start' or column.id == 'jam_mati' 
                                        or column.id == 'elevasi_ketika_start' or column.id == 'elevasi_ketika_mati' %}
                                        <tr>
                                            <th scope="row">{{ column.label }}</th>
                                            {% if column.id == 'beban_wlingi_perjam' %}
                                                <td id="{{ column.id }}" class="text-right"><span class="value">
                                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#dataTableModal">
                                                        View data
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped table-sm result-table">
                                    <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Cascade</th>
                                          <th scope="col" class="text-right">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for column in data.columns %}
                                        {% if 'cascade' in column.label.lower() %}
                                        <tr>
                                            <th scope="row">{{ column.label }}</th>
                                            <td id="{{ column.id }}" class="text-right"><span class="value">0.0</span> <span>{{ column.unit | safe }}</span></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dataTableModal" tabindex="-1" aria-labelledby="dataTableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dataTableModalLabel">Beban Wlingi Perjam</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table id="modalDataTable" class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">No.</th>
                      <th scope="col" class="text-center">Beban (MW)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}