{% extends "base.html" %}

{% block content %}
<div class="card border-warning">
    <div class="card-header text-white bg-warning">
      {{ data.title }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6" style="margin-bottom: 15px;">
                <form id="inputForm">
                    {% for input in data.inputs %}
                    <div class="form-group">
                        <label for="{{ input.name }}">{{ input.label }}</label>
                        {% if input.type == 'number' %}
                            <input type="number" min="{{ input.min }}" max="{{ input.max }}" step="{{ input.step }}" class="form-control text-right" id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ input.label }}">
                        {% else %}
                            <input type="{{ input.type }}" class="form-control text-right" id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ input.label }}">
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% if data.hidden_input_value != None %}
                    <input type="hidden" id="area" name="area" value="{{ data.hidden_input_value }}">
                    {% endif %}
                    <div class="form-group">
                        <button type="button" id="calcBtn" class="btn btn-primary btn-block" data-url="{{ data.data_url }}">
                            <i class="fas fa-calculator"></i> Calculate
                        </button>
                    </div>
                </form>
                <div id="execInfo" class="alert alert-info" role="alert">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 border-left">
                <table id="resultTable" class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Variables</th>
                          <th scope="col" class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column in data.columns %}
                        <tr>
                            <th scope="row">{{ column.label }}</th>
                            <td id="{{ column.id }}" class="text-right">0.0</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}