{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-middle" style="margin-top: 50px;">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
        <div class="card border-warning">
            <div class="card-header text-center text-white bg-warning">
                <h5 class="card-title">SIGNUP</h5>
                <p class="card-text">Please sign up to create your credential.</p>
            </div>
            <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Fullname</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your fullname" required>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group mb-3">
                        <select class="form-control" id="role" name="role">
                            <option value="">- Select Role -</option>
                            <option value="admin">Admin</option>
                            <option value="operator">Operator</option>
                        </select>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i> SIGN UP</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}