.bg {
    background-image: url("../images/home-bg-1.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-2 {
    background-image: url("../images/home-bg-2.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.layer {
    background-color: rgba(63, 63, 61, 0.45);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.app-title h1{
    font-size: 48px;
}
.app-title h2{
    font-size: 36px;
    margin-top: 30px;
}
.app-title h3{
    font-size: 24px;
}
.toast{
    margin: auto;
    position: absolute;
    top: 50%; 
    right: 0;
    left: 0;
}
#loginBtn{
    margin-top: 10px;
}
.welcome{
    margin-bottom: 15px;
}
.welcome span{
    color: yellow;
}
.col-title{
    font-size: 11px;
    text-align: center !important;
}
.list-file{
    margin-bottom: 25px;
}
.nf{
    text-align: center;
    padding: 75px 25px;
}
.nf-code{
    font-size: 3rem;
    font-weight: bold;
}
.nf-desc{
    font-size: 1.5rem;
    font-weight: bold;
}
.nf-message{
    font-size: 1rem;
}
